@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1{
    text-align: center;
    text-decoration: overline blueviolet;
    text-shadow: 2px 2px 0 	#C0C0C0;
    background-color:	#FDF5E6;
    margin-top: 50px;
}

a{
    text-decoration: none;
    background-color:	#FFEFD5;
    Color: Black;   
}
.sobre{
    font-family: "Tomorrow", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    text-shadow: -2px -2px 0px	#FFF0F5;
    line-height: 30px;
    letter-spacing: 1px;
    text-indent: 40px;
    margin-top: 30px;
}
.header{
    text-align: center;
    word-spacing: 60px;
    font-size: 30px;
    margin-top: 30px;
}
.header_link{
    border: 2px solid black;
    padding: 8px;
}
.foto{
    text-align: center;
}





table, th, td{

    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 60%;
    margin:auto;
    margin-top: 70px;
}
td, th{

    padding: 5px;
}
thead{
    background-color: royalblue;
    color: white;
}
tfoot{
    text-align: center;
}


caption{
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 25px;
}
