*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container{
    border: 4px solid royalblue;
    display:grid;
    
    /* Outra opção: grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(3,1fr); /*minmax(300px,70%) repeat(2,300px);*/
    /* grid-template-columns: 1fr 2fr 1fr;  */
    /* espaçamento entre as colunas */
    column-gap: 5px;
    /* uso grid-template-rows caso queira valores diferentes */
    /* grid-template-rows: 150px 150px 150px; */
    /* Aplica o padrão de 150px mesmo se não tiver definido a coluna/linha */
    grid-auto-rows: 150px;
    /* espaçamento entre as linhas */
    row-gap: 5px;
    align-items: stretch;
    /* 
    Stretch = elemento pega o valor cheio
    start = elemento fica na parte de cima
    end = elemento fica na parte de baixo
    center = elemento fica no centro
    */
    justify-items: stretch;


}

.item1{
    /* Começa da linha 1 e vai até a 4 */
    grid-column:1/4;
    /* Começa da linha 1 e vai até a 2 */
    grid-row: 1/2;
}

.item2{
    grid-column: 1/3;
    grid-row: 2/4;
}

.item7{
    grid-column: 2/4;
    grid-row: 4/6;
}

.item8{
    grid-column: 1/4;
    grid-row: 6/7;
}

.item9{
    grid-column: 1/4;
    grid-row: 7/8;
}

/* .item5{
    align-self: center;
    justify-self: center;
} */


.container>div{
    border: 2px solid coral;
    background-color: lightsalmon;
    color: white;
    /* valor padrao é 16px, 2em é 32px  */
    font-size: 2em; /* valor do elemento pai  */

}